<% if (product.isNew) { %>
  <form action="/products" method="post">
<% } else { %>
  <form action="/products/<%= product.id %>" method="post">
<% } %>

  Name:
  <input type="text" name="name" value="<%= product.name %>">

  Price:
  <input type="number" name="price" value="<%= product.price %>">

  Image URL:
  <input type="text" name="imageUrl" value="<%= product.imageUrl %>">

  Description
  <input type="text" name="description" value="<%= product.description %>">

  <input type="submit"/>
</form>